<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>注册</title>
        <link rel="shortcut icon" href="/static/fav.ico" type="image/x-icon" />
        
    </head>
    <body>
        <form class="" action="/registeruser" method="post" autocomplete="off">
            <input type="text" name="u" placeholder="用户名" required="required" />
            <input type="text" name="p" placeholder="密码" required="required" />
            <input type="text" name="e" placeholder="邮箱" required="required" />
            <button type="submit">注册</button>
        </form>


    </body>
</html>
